# Project exclude paths
.gradle
build

account-service/.gradle
account-service/build

bill-service/.gradle
bill-service/build

config-service/.gradle
config-service/build

deposite-service/.gradle
deposite-service/build

geteway-service/.gradle
geteway-service/build

notification-service/.gradle
notification-service/build

registry/.gradle
registry/build